body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-header{
    background-color: #264653;
}
.bg-footer{
    background-color: #0B0D17;
}
.text-tayeb{
    color: #E76F51;
}
.text-custom{
    color: #0A0826;
}
.text-regina{
    color: #23A6F0;
}
.btn-custom{
    background-color:#E76F51;
}
.img-1{
    filter: grayscale(95%);
    -webkit-filter: grayscale(95%);
}
.custom-size{
    margin-left: 10px;
    border: 2 solid;
}
.Accordion-h{
    margin-top: -250px !important;
}